<% include ./partials/landingHeader %>

<div class="ui segment">
	<p><h1>Top Rated</h1></p>
</div>


<div class="ui eight column grid a">
		
  <div class="row three column wide aa">
    

    <div class="column aaa">
        <% if (errorStr != undefined)  { %>
    	  	  <p> <%= errorStr %> </p> 
    	           <% } %>
    	  <form action="/login" method="POST">
    </div>


		
		<div class="column bbb ">

		      <div class="column aaaa">
		          <input class="login" type="text" name="user[email]" placeholder="Email" value="">
		      </div>

		      <div class="column bbbb">
		          <input class="login" type="password" name="user[password]" placeholder="Pwd" value="">
		      </div>

		      <div class="column cccc">
		          <input id="login" type="submit" value="Login" class="ui green labeled button">
		          </form>
		      </div>

		      <div class="column dddd">
		          <a id='login' href="/signup" class="ui pink labeled button">or sign-up</a>		    	
		      </div>

		</div>
	  
	  
	  <div class="column eee">			  
	  </div>
	


	</div>	  




</div>





	<% include ./partials/landingFooter %>