<% include ./partials/landingHeader %>

<div class="ui segment">
	<p><h1>Top Rated</h1></p>
</div>


<div class="ui eight column grid">
		
  <div class="row three column wide">
    <div class="column"></div>
		<div class="column"></div>
	  <div class="column">			  
		    <% if (errorStr != undefined)  { %>
			  	  <p> <%= errorStr %> </p> 
			           <% } %></div>
	</div>	  

  <div class="five column wide">
        <form action="/login" method="POST">
				<div class="column"><input class="login" type="text" name="user[email]" placeholder="Email" value=""></div>
				<div class="column"></div>
				
				<div class="column">
				  <div class="field">
					  <input class="login" type="password" name="user[password]" placeholder="Pwd" value="">
				  </div>
				 </div>
				
				<div class="column"><input type="submit" value="Login" class="ui green labeled button"></div>
				</form>
				<div class="column"><a href="/signup" class="logon ui pink labeled button">or sign-up</a></div>
  </div>


</div>





	<% include ./partials/landingFooter %>