<% include ./partials/landingHeader %>

<img src="<%= pic %>" id="bg" alt="">

<!-- <div class="topL" style="background-image: url(<%= pic %>)"> -->
		
<div class="ui grid">
  <div class="row">
      <div class="one wide column"></div>
      <div class="fourteen wide column">
        <h2 class="cursive">Top Rated</h2>
           <div class="slogan">
        				<p><strong>Spend more time at the right place,<br>
        				enjoying what you love.</p></strong>
     			 </div>
     	</div>
    <div class="one wide column"></div>
  </div> <!-- end row -->

  <div class="row">
  	 <div class="one wide column"></div>
      <div class="fourteen wide column">
      			    <div class="column">
      			        <% if (errorStr != undefined)  { %>
      			    	  	  <p> <%= errorStr %> </p> 
      			    	           <% } %>
      		
      		    		<div class="ui form floatForm darkBrown">
      		    		  <form action="/login" method="POST">
      		        	  <div class="field">
                        <label>Email</label>
                        <input class="addPadding" type="text" autofocus name="user[email]" placeholder="Email" value="">
      		        	  </div>
      		        	  <div class="field">
                        <label>Password</label>
                        <input class="addPadding" type="password" name="user[password]" placeholder="Pwd">
      		        	  </div>
      		        	  <div class="field">
      		        	  	<input type="submit" value="Login" class="mini ui red labeled button">
      		        	  	</form>
      		        	  	<a href="/signup" class="mini ui gray labeled button">or sign-up</a>  
      		        	  </div>
      		        	</div>
      		       
      		 </div> <!-- end 14 wide column -->
				

      </div>
    <div class="one wide column"></div>
  </div> <!-- end row -->

   </div> <!-- end grid -->

 </div> <!-- end image  -->






	<% include ./partials/landingFooter %>