<% include ./partials/header %>

<div class="ui segment">
  <p><h3>Website Landing Page</h3></p>
</div>



<div class="content">
	<a href="/signup" class="ui pink labeled icon button">or sign-up</a> 
</div>


<% include ./partials/footer %>