body{
	background-color: LightBlue;

}

h1 {
	font-family: 'Orbitron', sans-serif;
	text-align: center
}

.addPadding {
	padding: 10px;
}

.paddingCoBack {
	background-color: LightBlue; 
	padding: 20px;
}

.a {
	background-color: LightGreen; 
}

.aa {
	background-color: Coral; 
	margin: 1%;
	padding: 5px;
}

.aaa {
	background-color: Crimson;
	height: 25px; 
}

.bbb {
	background-color: LightSeaGreen; 

}

.ccc {
	background-color: LightSlateGray; 
	height: 90px;
}

.aaaa{
	background-color: Purple; 
	height: 70px;
}

.bbbb {
	background-color: MediumPurple; 
	height: 70px;

}

.cccc {
	background-color: DarkOrchid; 
	height: 70px;
}

.dddd {
	background-color: Indigo; 
	height: 70px;
}

.profileDiv {
	background-color: LightBlue; 
	padding: 15px;
}

.profileImg {
	text-align: center;

}

.aTwo {
	background-color: LightBlue; 
	margin: 1%;
	padding: 5px;
}

.aaTwo {
	background-color: LightBlue; 
	margin: 1%;
	padding: 5px;

} 

.aaaTwo {
	background-color: LightPurple; 
	padding: 5px;
}

.bbbTwo {
	background-color: LightBlue; 
	padding: 5px;
}

.aaaaTwo {
	background-color: LightBlue; 
	height: 70px;
	padding: 5px;
}

.bbbbTwo {
	background-color: LightBlue; 
	height: 70px;

}

.ccccTwo {
	background-color: LightBlue; 
	height: 70px;

}

.ddddTwo {
	background-color: LightBlue; 
	height: 70px;

}

.zz {
	background-color: LightOrange;
}

.addPadding{
	padding-top: 2%;
	padding-right: 5%;
	padding-left: 5%;
}

.addSpace{
	float: left;
	margin-left: 50px;
}

.centerIsh {
	text-align: center;
	padding:10px;
}

.lilHeight {
	height: 100%;
	background-color: White;
}

.lilHeightTwo {
	height: 15px;
}

.white {
	background-color: white;
}

.showColumn {
	height: 10px;
	background-color: DodgerBlue;
}

.headerBack {
	background-color: Gold;
}

.hiddenField {
	display: none;

}
.hiddenSave {
/*	display: none !important;*/
	display: none;

}

.save {
/*	background-color: lightgreen;
	color: white;
	border-radius: 2px;*/
}


.add {

}

.textAreaComment{
}

#removePadding.ui.labeled.icon.button {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

#saveBtn {
	display: none;
}

#commentForm{

}

.commentForm{

}