body {
  line-height: 1;
}

div {

}

ul {
  list-style-type: none;
}

.content {
	padding: 2%;
	font-family: Tahoma, sans-serif;
}

img {
	height: 200px;
	width: 200px;
}

form {
	padding-top: 2%;
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 30%;
	line-height: 2;
}