<% include ../partials/loggedInHeader %>

<div>
	<h3>Favorites Index</h3>
</div>

<div>
	<table>
	  <thead>
	  	<tr>
	  		<th>Bussiness</th>
	  		<th></th>
	  		<th>Yelp Rating</th>
	  	</tr>
	  </thead>
	    <tbody>

	    </tbody>
		


	</table>
</div>

<% include ../partials/loggedInFooter %>