<% include ../partials/loggedInHeader %>

<div class="ui segment">
  <p><h1>Edit Profile</h1></p>
</div>

<div>
 <form action="/users/<%= user.id %>?_method=put" method="POST"> 
	<div>
		<label for="nameFirstName">User Name: </label>
		<input type="text" name="user[userFirstName]" class="form-control" value="<%= user.userFirstName %>" autofocus>
	</div>
	<div>
		<label for="userImage">Image:</label>
		<input type="text" name="user[userImage]" class="form-control" value="<%= user.userImage %>">
	</div>
	<div>
		<label for="score">Email:</label>
		<input type="text" name="user[email]" id="" class="form-control" value="<%= user.email %>">
	</div>
	<div>
		<p></p>
	</div>
	<div class="form-group">
	  <input type="submit" value="Save" class ="btn btn-info">
	</div>
</form>
</div>

<% include ../partials/loggedInFooter %>