<% include ../partials/loggedInHeader %>

<div class="ui segment">
  <p><h3>Profile Page</h3></p>
</div>

  <div class="ui one column">
    <h3 class="space">Welcome <%= oneUser.userFirstName %></h3>
  </div>

<div class="ui two column centered grid">
  <div class="four column centered row">
    <div class="column">
      <p><img class="ui small rounded image" src="<%= oneUser.userImage %>" alt="user image"></p>
      <a href="/users/<%= id %>/edit" class="compact mini ui black labeled button">Edit Profile</a>
    </div>
    <div class="column">      
      <form action='/users/<%= id %>/search'>
        <div>
          <p>
            <input type="text" name="term" autofocus placeholder="term">
          </p>
          <p>
            <input type="text" name="location" placeholder="location">
          </p>
          <p>
            <input type="submit" value="Search" class="ui green labeled button">
          </p>
        </div>
      </form>
    </div>
  </div>
</div>




<% include ../partials/loggedInFooter %>
