<% include ../partials/header %>

<h2>User Profile Page: show.ejs </h2>

  <div>
 	  <h3>Welcome <%= oneUser.userName %></h3>
 	  <p><img src="<%= oneUser.userImage %>" alt="user image"></p>
  </div>

  <form action='/search'>
	  <div>
	    <label for="term">Term:</label>
	    <input type="text" name="term" autofocus>
    </div>
    <div>
    	<label for="location">Location</label>
  	  <input type="text" name="location" >
    </div>
    <div>
      <label for="limit">Limit</label>
      <input type="text" name="limit">
    </div>
    <div>
  	  <input type="submit" value="Search" class="btn btn-success">
    </div>
  </form>
 

<% include ../partials/footer %>
