<% include ../partials/header %>

<div class="ui segment">
  <p><h3>User Profile/Home Page</h3></p>
</div>

  <div>
 	  <h3>Welcome <%= oneUser.userName %></h3>
 	  <p><img src="<%= oneUser.userImage %>" alt="user image"></p>
  </div>

  <form action='/search'>
	  <div>
	    <label for="term">Term:</label>
	    <input type="text" name="term" autofocus>
    </div>
    <div>
    	<label for="location">Location:</label>
  	  <input type="text" name="location" >
    </div>
    <div>
  	  <input type="submit" value="Search" class="ui green labeled icon button">
    </div>
  </form>
 

<% include ../partials/footer %>
