<% include ../partials/header %>

<h2>hi from Profile "Show" page</h2>

<div>
	<p>information about person logged in</p>
</div>
 
 <div>
 	<h1><%= oneUser.userName %></h1>
 </div>


<%= oneUser.userImage %> 
<%= oneUser.email %>

	</div>
	  
	</div>
</form>


<% include ../partials/footer %>