<% include ../partials/loggedInHeader %>



  

  <div class="ui segment">

    <p><h1>Welcome <%= oneUser.userFirstName %></h1></p> 
  </div>


<div class="ui eight column grid aTwo">
    
  <div class="row two column wide aaTwo">
    

    <div class="column aaaTwo">
          <div class="column profileDiv">
                <img class="ui small rounded image" src="<%= oneUser.userImage %>" alt="user image">
          </div>

          <div class="column bbbbTwo">
              <div class="addSpace">
                <a href="/users/<%= id %>/edit" class="compact mini ui black labeled button">Edit Profile</a>
              </div>
          </div>

          <div class="column ccccTwo">
          </div>

          <div class="column ddddTwo">       
          </div>
    </div>


    
    <div class="column bbbTwo ">

          <div class="column aaaaTwo">
          </div>

          <div class="column">
              <form action='/users/<%= id %>/search'>
               <div class="bbbbTwo centerIsh">
                  <input class="addPadding" type="text" name="term" autofocus placeholder="term">
               </div>
          </div>

          <div class="column">
              <div class="ccccTwo centerIsh">
                <input class="addPadding" type="text" name="location" placeholder="location">
              </div>
          </div>

          <div class="column">  
              <div class=" ddddTwo centerIsh">
                  <input type="submit" value="Search" class="ui green labeled button">    
              </div>
              </form>
          </div>

    </div>
    


  </div>    

</div>




  <div class="ui one column centered grid">  
    <div class="column" >
     
      <div class="favTable">
        
      
      <table class="ui table segment" >
        <thead>
          <tr><h3>Favorites</h3></tr>
          <tr>
            <th>Bussiness</th>
            <th></th>
            <th>No. of Reviews</th>
            <th>Rating</th>
            <th>Location</th>
            <th>Distance</th>
            <th>My Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="favName">
              <p>favName</p>
            </td>
            <td id="favImage">
              <p>favImage</p>
            </td>
            <td id="favReviewCount">
              <p>favReviewCount</p>
            </td>
            <td id="favRating">
              <p>favRating</p>
            </td>

            <td id="favAddress">
              <p>favAddress</p>
            </td>
            <td id="favDistance">
              <p>favDistance</p>
            </td>
            <td>   
             <p>edit/view</p>
           </td>
         </tr> 
       </tbody>
     </table>

   </div>
 </div>
</div>



 <% include ../partials/loggedInFooter %>
