<% include ../partials/header %>

<h3>User Signup</h3>

<div>
	<form action="/users" method="POST">
    <div>
      <label for="userName">User Name:</label>
      <input autofocus  type="text" name="user[userName]">
    </div>
    <div>
      <label for="userImage">User Image:</label>
      <input type="text" name="user[userImage]">
    </div>
    <div>
      <label for="email">User Email:</label>
      <input type=text name="user[email]">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type=text name="user[password]">
    </div>
    <div>
      <input type="submit" value="Login" class ="btn btn-info">
    </div>
  </form>
</div>


<% include ../partials/footer %>