<% include ../partials/landingHeader %>
<div class="paddingCoBack">
<div class="ui segment">
  <p><h1>User Signup</h1></p>
</div>

<div>
	<form action="/signup" method="POST" class="ui form">
  
  <div class="two fields">
    <div class="field">
        <input type="text" name="user[userFirstName]" placeholder="First Name" autofocus>
    </div>
    <div class="field">
         <input type="text" name="user[userImage]" placeholder="Image URL">
    </div>
  </div>
  
  <div class="two fields">
    <div class="field">
        <input type=text name="user[email]" placeholder="Email">
    </div>
    <div class="field">
        <input type="password" name="user[password]" placeholder="Password">
    </div>
  </div>
    
  <div>
    <p>
      <input type="submit" value="Login" id="removePadding" class="ui purple labeled icon button">
    </p>
  </div>

  </form>
</div>
</div>
<% include ../partials/landingFooter %>