<% include ../partials/header %>
<h2>hi from Searches "Index" page</h2>

<div>
  <p>
  	<h3>Website Landing Page</h3>
  </p>
</div>
<div>
	<a href="/users/signup">or sign-up</a> 
</div>


<% include ../partials/footer %>